.contacts-title--online {
  margin: 0;
  padding: 0.2rem;
  background: #6c6;
}

.contacts-title--offline {
  margin: 0;
  padding: 0.2rem;
  background: #aaa;
}

.contacts-title--dnd {
  margin: 0;
  padding: 0.2rem;
  background: #c00;
}

.contacts-title--away {
  margin: 0;
  padding: 0.2rem;
  background: #cc0;
}

.contact-list {
  padding: .2rem .5rem;
  margin: 0;
}

.contact {
  list-style: none;
  text-align: left;
}
.contact:hover {
  cursor: pointer;
  color: #aaa;
}