.home {
    height: 100%;
    display: block;
    border: inset 2px #555;
    border-radius: 1rem;
}

.left-container, .main-container {
  border: 3px groove #555;
  border-radius: 0.4rem;
}
.left-container {
  flex: 0 0 250px;
}
.main-container {
  flex: 1 1 auto;
  display: flex;
}
